In [1]:
#import libraries
import pandas as pd

In [3]:
brighton_df = pd.read_csv("data/brighton.csv",parse_dates=['datetime'])
brighton_df.head()

/var/folders/h9/ht4zpp_x2ld51gml9v3_lbnw0000gn/T/ipykernel_4456/856191950.py:1: DtypeWarning: Columns (1,2,3,4,5,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  brighton_df = pd.read_csv("data/brighton.csv",parse_dates=['datetime'])

,datetime,temp,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windspeed,winddir,sealevelpressure,cloudcover,solarradiation,solarenergy,uvindex
0,2013-09-22T00:00:00,16.6,16.2,97.99,0.0,0.0,NaN,0.0,0,7.6,258.0,1026.9,93.3,0.0,0.0,0.0
1,2013-09-22T01:00:00,16.6,16.3,97.95,0.018,100.0,rain,0.0,0,9.7,265.0,1026.9,96.6,0.0,0.0,0.0
2,2013-09-22T02:00:00,16.6,16.2,98.0,0.0,0.0,NaN,0.0,0,4.0,304.0,1027.1,96.4,0.0,0.0,0.0
3,2013-09-22T03:00:00,16.5,16.1,97.53,0.0,0.0,NaN,0.0,0,3.8,267.0,1027.2,100.0,0.0,0.0,0.0
4,2013-09-22T04:00:00,16.5,16.1,97.53,NaN,0.0,NaN,0.0,0,5.2,266.0,1027.2,100.0,0.0,0.0,0.0

In [6]:
print("Number of brighton samples: ",brighton_df.shape[0])

Number of brighton samples:  198853

In [4]:
colchester_df = pd.read_csv("data/colchester.csv",parse_dates=['datetime'])
colchester_df.head()

/var/folders/h9/ht4zpp_x2ld51gml9v3_lbnw0000gn/T/ipykernel_4456/3985804251.py:1: DtypeWarning: Columns (1,2,3,4,5,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  colchester_df = pd.read_csv("data/colchester.csv",parse_dates=['datetime'])

,datetime,temp,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windspeed,winddir,sealevelpressure,cloudcover,solarradiation,solarenergy,uvindex
0,2006-06-19T00:00:00,17.9,13.3,74.46,0.0,0.0,NaN,0.0,0.0,13.3,198.0,1008.9,90.0,NaN,NaN,NaN
1,2006-06-19T01:00:00,17.5,13.2,75.98,0.0,0.0,NaN,0.0,0.0,14.1,206.0,1008.9,90.0,NaN,NaN,NaN
2,2006-06-19T02:00:00,16.8,12.5,75.81,0.0,0.0,NaN,0.0,0.0,13.9,210.0,1008.0,90.0,NaN,NaN,NaN
3,2006-06-19T03:00:00,16.0,11.4,74.35,0.0,0.0,NaN,0.0,0.0,12.5,221.0,1007.9,90.0,NaN,NaN,NaN
4,2006-06-19T04:00:00,15.2,9.7,69.46,0.0,0.0,NaN,0.0,0.0,13.8,214.0,1007.9,26.6,NaN,NaN,NaN

In [8]:
print("Number of colchester samples: ",colchester_df.shape[0])

Number of colchester samples:  295846

In [22]:
#EDA for brighton
print("Brighton data types: ",brighton_df.dtypes)

Brighton data types:  datetime            object
temp                object
dew                 object
humidity            object
precip              object
precipprob          object
preciptype          object
snow                object
snowdepth           object
windspeed           object
winddir             object
sealevelpressure    object
cloudcover          object
solarradiation      object
solarenergy         object
uvindex             object
dtype: object

In [20]:
#change datatypes of columns all columns to float except datetime they are in format "5.7",...
brighton_df = brighton_df.apply(pd.to_numeric, errors='ignore')

In [11]:
print("Brighton missing values: ",brighton_df.isnull().sum())

Brighton missing values:  datetime                 0
temp                   408
dew                    448
humidity               444
precip                 459
precipprob             468
preciptype          180665
snow                 56320
snowdepth            57311
windspeed              428
winddir                455
sealevelpressure       867
cloudcover             463
solarradiation         522
solarenergy            585
uvindex                578
dtype: int64

In [14]:
brighton_df.describe()

,datetime,temp,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windspeed,winddir,sealevelpressure,cloudcover,solarradiation,solarenergy,uvindex
count,198853,198445,198405,198409,198394,198385,18188,142533,141542,198425,198398,197986,198390,198331,198268,198275
unique,122832,753,591,11160,3954,8,5,19,160,1124,1390,1520,1999,10335,84,34
top,datetime,9.5,8.1,100.0,0.0,0.0,rain,0.0,0.0,12.0,238.0,1016.4,100.0,0.0,0.0,0.0
freq,127,1304,1319,314,151424,134636,17404,114385,111217,979,1299,807,9487,72857,84619,92238